*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#74ebd5,#9face6);
}

.weather-card{
  background:#fff;
  padding:25px;
  width:320px;
  text-align:center;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.weather-card h2{
  margin-bottom:15px;
}

input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:10px;
  background:#4a90e2;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:16px;
}

button:hover{
  background:#357abd;
}

#result{
  margin-top:15px;
}

#result img{
  width:80px;
}

/* Responsive */
@media(max-width:600px){
  .weather-card{
    width:90%;
  }
}